html
    head
        meta(name="viewport" content="width=device-width")
        meta(name="viewport" content="width=320")

        title= "DogCamera"

        link( rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
        link( rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
        link( rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
        link( rel="manifest" href="site.webmanifest")

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/hls.js/latest/hls.min.js")
        script(src="static/main.js")

    body
        div(class='motion')
            h2= "Kitchen Camera"
            div(class="vid_container")
                video(controls muted)
            button= "Play"

        div(class='motion2')
            h2= "Living Room Camera"
            div(class="vid_container")
                video(controls muted)
            button= "Play"


